body{
    background:linear-gradient(#2b1055, #7597de);
    min-height: 100vh;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 10000;

}
.menu {
    display: flex;
    width:auto;
    
    
    
}
.header .logo {
    height: 130px;
    margin-left: 30px;
}
.header ul {
    
}
.header ul li{
    margin-left: 20px;
    
    

}
.header ul li a {
    text-decoration: none;
    font-family: 'Redressed', cursive;
    padding: 6px 15px;
    color: #fff;
    padding: 15px 15px;
    font-size: 30px;
    border-radius: 30px;
}
.header ul li a:hover,
.header ul li a.home
{
    background: #fff;
    color: #2b1055;
}
.nav-t {
    display: none;
}



/* header above  */


section {
    position: relative;
    width: 100%;
    height: 106.5vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 100;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon {
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;
  
}
#text{
    position: absolute;
    right: -10px;
    color: #fff;
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec{
    position: relative;
    padding: 100px;
    background-color: #1c0522;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec h3{
    font-size: 5.5em ;
    margin-bottom: 50px;
    color: #fff;
}
.sec p{
    font-size: 1.2em;
    color: #fff;
    width: 70%;
}
.sec #profile-pic{
    margin: 20px;
    width: 350px;
}

/* landing page stops here */

form{
    margin-left:auto;
    margin-right:auto;
    background: #e2dfee;
    padding: 0px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
    border-radius: 6px;
    position: relative;
    z-index: 23;
    min-width: 500px;

}
form > h1 {
    font-size: 60px;
    padding: 10px;
    display: block;
    border-bottom:1px solid #e4e4e4;
    margin: 10px;
    color: rgba(18, 10, 90, 0.616);
}

form span {
    color:rgba(24, 13, 82, 0.973);
    font-size: 20px;
    margin: 05px;
    
}
form label{
    margin-left: 20px;
}
form input[type="text"], input[type="email"], textarea, select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-right: 8px;
    margin-top: 10px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 80%;
    font-size: 15px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    margin-left: 20px;
}
input[type="date"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-right: 8px;
    margin-top: 4px;
    margin-left: 20px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    font-size: 15px;
    line-height:15px;
}
form button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
}
form  button:hover {
    background: #2b1055;;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

form span {
    display: block;
    margin-left: 8px;
}
textarea#message{
    min-height: 100px;
    max-height: 200px;
    min-width: 380px;
    max-width: 380px;
}
div#results{
    z-index: 10000;
    font-size: 50px;
    border: 20px solid linear-gradient(#2b1055, #7597de);
    border-radius: 12px;
    padding: 20px;
    background:#7597de;
    color: white;
}
a#Goback {
    text-decoration: none;
    background: #E27575;
    border: none;
    padding: 20px 50px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 40px;
    z-index: 10000;
}
a#Goback:hover{
    background: #2b1055;;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
section#resultssec{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1280px){
    section::before{
        
        height: 130px;
    }
    
}



.middle-background {
    background-color: #1D0523;    
}


h1 {
    font-family: 'Noto Serif', serif;
    font-size: 35px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}








.gallery-container {
  height: 600px;
}

img {
    max-width: 100%;
    height: auto;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

  .wrapper {
    width: 100%;
    padding: 80px0 0 0;
    text-align: center;
  }
  .polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.2);
  }
  .caption {
    font-size: 1.125rem;
    text-align: center;
    line-height: 2em;
  }
  .item {
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
  }
  .item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+1) .polaroid:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }
  .item:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+2) .polaroid:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }
  .item:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+4) .polaroid:before {
    transform: rotate(4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .item:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+3) .polaroid:before {
    transform: rotate(-4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
  }
  .item:hover .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    transition: all 0.35s;
  }